# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*
node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?


# Dependencias
node_modules/
.pnpm-store/

# Archivos de construcción
dist/

# Archivos temporales de IDX/Nix
.idx/
historial_comandos.txt

# Logs de errores
npm-debug.log*
yarn-debug.log*
yarn-error.log*


# Archivos de entorno (FUNDAMENTAL para seguridad)
.env
.env.test
.env.production
*.env.local

# TypeScript
*.tsbuildinfo

# Archivos de caché de herramientas
.eslintcache
.stylelintcache

# Archivos temporales de sistema (específicos de Windows/Office)
Thumbs.db
~$*